<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  {% block meta %} {% endblock %} {% include "layout/js_variable_store.html"%}
  <link rel="apple-touch-icon" sizes="76x76" href="{{url_for('static', filename='img/apple-touch-icon.png')}}" />
  <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='img/favicon-new.ico')}}" />
  <title>{{ title }}</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{{url_for('static', filename='starAdmin/vendors/feather/feather.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='starAdmin/vendors/mdi/css/materialdesignicons.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='starAdmin/vendors/ti-icons/css/themify-icons.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='starAdmin/vendors/typicons/typicons.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='starAdmin/vendors/simple-line-icons/css/simple-line-icons.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='starAdmin/vendors/css/vendor.bundle.base.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='starAdmin/css/vertical-layout-light/style.css')}}">


</head>

<body>
  {% block content %} {% endblock %}

  <script src="{{url_for('static', filename='starAdmin/vendors/js/vendor.bundle.base.js')}}"></script>
  <script src="{{url_for('static', filename='starAdmin/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js')}}"></script>
  <script src="{{url_for('static', filename='starAdmin/js/off-canvas.js')}}"></script>
  <script src="{{url_for('static', filename='starAdmin/js/hoverable-collapse.js')}}"></script>
  <script src="{{url_for('static', filename='starAdmin/js/template.js')}}"></script>
  <script src="{{url_for('static', filename='starAdmin/js/settings.js')}}"></script>
  <script src="{{url_for('static', filename='starAdmin/js/todolist.js')}}"></script>
</body>


</html>
